*{
    margin: 0;
    padding: 0;
}

.heading{
    padding: 10px;
    text-align:center;
}
#container{
    background-color: aqua;
    width: 50%;
    border: 1px solid black;
    border-radius: 25px;
    margin: 0 auto;
    padding: 20px;
}
h2{
    text-align: center;
    display: block;
}

#from{
    width:270px;
    height:20px ;
    color:black;
    margin:3px;
    margin-left: 15px;
    padding:2px;
}

.icon {
    width:22px;
    height:20px;
   
  }
  
 #button{
    width: 270px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 10px;
    font-size: large;
  }

  @media(max-width:700px){
    #container{
    width: 80%;
    font-size: 12px;
    }
    #from{
        width: auto;
    }
    #button{
       width: 100px;
      }
    
  }